body{
  box-sizing: border-box;
  background-color: rgb(88,114,139);
  min-width: 700px;
}

.container{
  background-color: rgb(251,221,147);
}

.block{
  background-color: rgb(255,255,255);
}

.section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

img {
  max-width:100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

header{
  background-color: rgb(255,255,255);
  padding: 2rem;
}
